[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
biopython = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"
xdg = "*"
toml = "*"
networkx = "*"
pandas = "*"
matplotlib = "*"
bokeh = "*"
sortedcontainers = "*"
httpx = "*"
progress = "*"
beautifulsoup4 = "*"
natsort = "*"
Cython = "*"

[dev-packages]

[requires]
python_version = "3.9"
