# packaging
build
bump2version
wheel
# formatting and linting
ruff
# testing
pytest
pytest-cov
pytest-xdist
coverage[toml]
# static typing
mypy
types-toml
types-Deprecated
typing_extensions
# docs
mkdocs
mkdocs-material
mkdocs-exclude
mkdocs-redirects
mkdocstrings-python
mike
