autoflake
build
bump2version
coverage[toml]
pytest
pytest-cov
pytest-xdist
ruff
sphinx
sphinx_rtd_theme
sphinx-autoapi
types-toml
types-Deprecated
myst_parser
wheel
# docs
mkdocs
mkdocs-material
mike
mkdocs-exclude
mkdocstrings-python
mkdocs-redirects
