.result-placeholder {
    padding: 10px;
    margin: 10px;
    background-color: #ddd;
}
.bk-root {
    width: 100%;
    max-width: 100%;
}

.bk-clearfix {
    width: 100%;
    max-width: 100%;
}

.btn {
    max-width: 100%;
}
/* fixes text spilling out of the button */
.btn {
    word-wrap: break-word;
    white-space: normal;
}
.btn-link {
    word-wrap: break-word;
}
.card {
    max-width: 100%;
}
.card-text {
    word-wrap: break-word;
}

.button-genomics {
    background-color: #449944;
    padding: 5px;
}

.button-metabolomics {
    background-color: #444499;
    padding: 5px;
}

#spec_hover_info, #bgc_hover_info { 
    text-align: center;
}

#spec_hover_info_ext, #bgc_hover_info_ext { 
    text-align: center;
}

#mb_mode > .bk-root {
    float: right;
}

.nolabel > label {
    display: none !important;
}

/* adjust padding on accordion elements */
.card-header {
    padding: 0rem;
}

/* tweak layout for the checkboxes in search results */
.btn-search-header {
    min-width: 75% !important;
}

/* tweak layout for the checkboxes in search results */
.search-input-container {
    display: inline;
}

/* "loading" overlay, if needed again */
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; 
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#overlay_text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

/* tab styling */
.nav-tabs .nav-link.active {
    background-color: #0099ff;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-tabs .nav-link {
    background-color: #999;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}
