{% extends base %}
{% block preamble %}
      <link rel="stylesheet" href="npapp/static/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="npapp/static/css/npapp.css"/>
{% endblock %}
{% block postamble %}
    <script src="npapp/static/js/jquery.slim.min.js" type="text/javascript"></script>
    <script src="npapp/static/js/popper.min.js" type="text/javascript"></script>
    <script src="npapp/static/js/bootstrap.min.js" type="text/javascript"></script>
{% endblock %}
  
{% block contents %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-lg-5">
            {{ embed(roots.plot_toggles) }}
        </div>
        <div class="col-lg-5">
            {{ embed(roots.tsne_id_select) }}
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-lg-5">
            {{ embed(roots.fig_spec) }}
        </div>
        <div class="col-lg-5">
            {{ embed(roots.fig_bgc) }}
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-lg-5">
            <div id="spec_hover_info"></div>
        </div>
        <div class="col-lg-5">
            <div id="bgc_hover_info"></div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <strong>Select mode:</strong>
            {{ embed(roots.scoring_mode_group) }}
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" style="background-color: #ffffff">
        <div class="col-md-1"></div>
        <div class="col-lg-10">
            <strong>Selected scoring method:</strong>
            <!-- embed the Bokeh RadioGroup -->
            {{ embed(roots.scoring_method_group) }}
            <strong>Method parameters</strong>
            <!-- embed the slider widgets -->
            {{ embed(roots.sliders) }}
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="accordion" id="accordionSpec">
                {{ embed(roots.spec_div) }}
            </div>
        </div>
        <div class="col-md-5">
            <div class="accordion" id="accordionBGC">
                {{ embed(roots.bgc_div) }}
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-lg">
            {{ embed(roots.debug_div) }}
        </div>
    </div>
</div>
{% endblock %}
