{% extends base %}
{% block preamble %}
    <meta http-equiv="X-UA-Compatible" content="chrome-1">
    <link rel="stylesheet" href="npapp/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="npapp/static/css/npapp.css"/>
    <link rel="stylesheet" href="npapp/static/css/ChemDoodleWeb.css"/>
{% endblock %}
{% block postamble %}
    <script src="npapp/static/js/jquery.slim.min.js" type="text/javascript"></script>
    <script src="npapp/static/js/popper.min.js" type="text/javascript"></script>
    <script src="npapp/static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="npapp/static/js/ChemDoodleWeb.js" type="text/javascript"></script>
    <script type="text/javascript">
        // this function is used to load and display ChemDoodle spectrum plots in 
        // the result accordion elements. It is triggered by onclick handlers on each
        // of the Spectrum elements, and is passed in:
        //  - the ID of the button element that triggered the event
        //  - the ID of the DOM canvas element that should contain the plot
        //  - peak data in JCAMP format
        // if the plot has already been loaded it does nothing, otherwise it creates
        // and displays it, then removes the onclick handler so it shouldn't
        // get triggered again
        function setupPlot(btn_id, plot_id, plot_data_jcamp) {
            console.log('setupPlot: %o', plot_id);
            // check if width nonzero as a way to find out if the plot is already created or not
            if($('#' + plot_id).width() > 0) {
                console.log('Returning')
                return;
            }
            var thePlot = new ChemDoodle.PerspectiveCanvas(plot_id, 400, 200);
            thePlot.specs.plots_color = '#FF0000';
            var theSpec = ChemDoodle.readJCAMP(plot_data_jcamp);
            theSpec.xUnits = 'm/z';
            theSpec.yUnits = 'Relative Abundance';
            thePlot.loadSpectrum(theSpec);

            // remove the onclick handler
            $('#' + btn_id).prop("onclick", null).off("click");
        }

        // simply toggles state of all search result checkboxes
        function toggleSearchSelect() {
            var checkboxes = $('input[class=search-input]');
            checkboxes.prop("checked", !checkboxes.prop("checked"));
        }

        function onChangeBGCTable(table_id, search_text) {
            var search_term = $(search_text).val();
            var table = $(table_id);
            var showall = $(table_id + " tr").show();
            var hidenotmatching = $(table_id + " tr:not(:contains('" + search_term + "'))").hide(); 
        }

        // this is a hacky workaround from https://stackoverflow.com/questions/42794556/how-to-check-if-my-bokeh-server-application-is-completely-loaded-and-rendered
        // doesn't seem to be anything better provided by bokeh yet...
        old_log = console.log;
        console.log = function(message) {
            if(message.localeCompare('Bokeh items were rendered successfully') == 0) {
                // above message indicates bokeh has loaded, use this to initialise 
                // bootstrap popovers and remove the overlay
                console.log = old_log;
                $('[data-toggle="popover"]').popover();
                $('.popover-dismiss').popover({
                    trigger: 'focus'
                });
                $('#overlay').hide();
            }
            old_log.apply(console, arguments);
        };

    </script>
{% endblock %}
  
{% block contents %}
<div class="modal" id="metcalfModal" tabIndex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Metcalf scoring options</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    {{ embed(roots.metcalf_standardised) }}
                    {{ embed(roots.metcalf_cutoff) }}
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div class="modal" id="testscoreModal" tabIndex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Testscore scoring options</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ embed(roots.testscore_value) }}
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 10px">
    <div class="row" style="background-color: #fffdd2">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#optionsModal" aria-expanded="false" aria-controls="optionsModal" style="margin-top: 10px">
                Options
            </button>
            <div class="modal" id="optionsModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Plot options</h5>
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                             </button>
                        </div>
                        <div class="modal-body">
                            {{ embed(roots.plot_toggles) }}
                            {{ embed(roots.tsne_id_select) }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            {{ embed(roots.alert_div) }}
        </div>
        <div class="col-md-2">
            {{ embed(roots.reset_button) }}
        </div>
    </div>
    <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <ul class="nav nav-tabs nav-pills nav-fill" id="modeTabs", role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" role="tab" data-toggle="tab" href="#modes_tab_tables">Tables view</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="tab" data-toggle="tab" href="#modes_tab_plots">Plots view</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div id="overlay" style="">
        <div id="overlay_text">Loading dataset, please wait...</div>
    </div>
    <div id="hidden_alert" style="display: none">
        {{ embed(roots.hidden_alert) }}
    </div>
    <div class="tab-content" id="modeTabsContent">
        <div class="tab-pane show active" id="modes_tab_tables">
            <div class="row">
                <div class="col-md-3">
                    {{ embed(roots.tables_reset) }}
                </div>
                <div class="col-md-3">
                    {{ embed(roots.tables_score_met) }}
                </div>
                <div class="col-md-3">
                    {{ embed(roots.tables_score_gen) }}
                </div>
                <div class="col-md-3">
                    {{ embed(roots.metcalf_info) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 met-table" id="molfam_table">
                    {{ embed(roots.table_molfams) }}
                </div>
                <div class="col-lg-3 met-table" id="spec_table">
                    {{ embed(roots.table_spectra) }}
                </div>
                <div class="col-lg-3 gen-table" id="bgc_table">
                    {{ embed(roots.table_bgcs) }}
                </div>
                <div class="col-lg-3 gen-table" id="gcf_table">
                    {{ embed(roots.table_gcfs) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    {{ embed(roots.molfam_dl_button) }}
                </div>
                <div class="col-lg-3">
                    {{ embed(roots.spec_dl_button) }}
                </div>
                <div class="col-lg-3">
                    {{ embed(roots.bgc_dl_button) }}
                </div>
                <div class="col-lg-3">
                    {{ embed(roots.gcf_dl_button) }}
                </div>
            </div>
        </div>

        <div class="tab-pane" id="modes_tab_plots">
            <div class="row">
                <div class="col-md-1">{{ embed(roots.legend_spec) }}</div>
                <div class="col-md-5">
                    {{ embed(roots.fig_spec) }}
                </div>
                <div class="col-md-5">
                    {{ embed(roots.fig_bgc) }}
                </div>
                <div class="col-md-1">{{ embed(roots.legend_bgc) }}</div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-lg-5">
                    <div id="spec_hover_info"></div>
                </div>
                <div class="col-lg-5">
                    <div id="bgc_hover_info"></div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-lg-5">
                    <div id="spec_hover_info_ext"></div>
                </div>
                <div class="col-lg-5">
                    <div id="bgc_hover_info_ext"></div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <ul class="nav nav-tabs nav-fill" id="mainTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="scoringTab" data-toggle="tab" href="#scoring_div" role="tab" aria-controls="scoring_div" aria-selected="true">Scoring</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="searchTab" data-toggle="tab" href="#search_results_div" role="tab" aria-controls="search_results_div" aria-selected="false">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="descTab" data-toggle="tab" href="#dataset_description_div" role="tab" aria-controls="dataset_description_div" aria-selected="false">Dataset information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="debugOut" data-toggle="tab" href="#debug_out_div" role="tab" aria-controls="debug_out_div" aria-selected="false">Log</a>
                </li>
            </ul>

            <!-- tab body content -->
            <div class="tab-content" id="mainTabContent">
                <!-- scoring tab content -->
                <div class="tab-pane  show active" id="scoring_div" role="tabpanel" aria-labelledby="scoringTab">
                    <div class="row" style="display: none">
                        <div class="col-md-1"></div>
                        <div class="col-lg-4" style="text-align: right">
                            <h6 style="">Metabolomics scoring mode:</h6>
                        </div>
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-4">
                            <h6>Genomics scoring mode:</h6>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row" style="display: none">
                        <div class="col-md-1"></div>
                        <div class="col-lg-4" id="mb_mode">
                            {{ embed(roots.mb_mode_group) }}
                        </div>
                        <div class="col-lg-2">
                            {{ embed(roots.plot_select) }}
                        </div>
                        <div class="col-lg-4">
                            {{ embed(roots.ge_mode_group) }}
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-lg-10">
                            <strong>Selected scoring methods:</strong>
                            {{ embed(roots.scoring_method_checkboxes) }}
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ embed(roots.metcalf_scoring_button) }}
                                        {{ embed(roots.testscore_scoring_button) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <hr/>
                            <h4>Results:</h4>
                            <div class="accordion" id="accordionResults">
                                {{ embed(roots.results_div) }}
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>

                <div class="tab-pane" id="search_results_div" role="tabpanel" aria-labelledby="searchTab">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            Search on attribute:
                            {{ embed(roots.search_type) }}
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            {{ embed(roots.search_input) }}
                            <small>{{ embed(roots.search_regex) }}
                            (<a href="https://docs.python.org/3/library/re.html#regular-expression-syntax">Python regular expressions</a> are supported. Click <a data-toggle="modal" href="#" data-target="#regexModal">here</a> to see some examples.)</small>
                            <div class="modal" id="regexModal" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5>Regular expression examples</h5>
                                        </div>
                                        <div class="modal-body">
                                            <ul>
                                                <li><strong>ARHR.*cluster0\d5</strong> : match "ARHR", followed by any number of any character, then "cluster0[any digit]5" ("ARHR01000000_KB897363.1.cluster015", "ARHR01000000_KB897363.1.cluster045", etc)</li>
                                                <li><strong>ARH[ABC].*</strong> : match anything starting with "ARHA", "ARHB", or "ARHC"</li>
                                                <li><strong>^foo$</strong>: match "foo" exactly</li>
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn-secondary btn" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            {{ embed(roots.search_button) }} 
                            {{ embed(roots.search_score_button) }}
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            {{ embed(roots.search_div_header) }}
                            <div class="accordion" id="accordionSearch">
                                {{ embed(roots.search_div_results) }}
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>

                <div class="tab-pane" id="dataset_description_div" role="tabpanel" aria-labelledby="descTab">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <h4>Dataset description text</h4>
                                {{ embed(roots.dataset_description_pre) }}
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                    <hr width="40%"/>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <h4>GNPS parameters</h4>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-3">
                                {{ embed(roots.gnps_params_select) }}
                            </div>
                            <div class="col-md-3">
                                {{ embed(roots.gnps_params_value) }}
                            </div>
                        </div>
                    </div>
                    <hr width="40%"/>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <h4>Other information</h4>
                                {{ embed(roots.other_info_div) }}
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="debug_out_div" role="tabpanel" aria-labelledby="debugOut">
                    {{ embed(roots.debug_div) }}
                </div>
            </div>

        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
{% endblock %}
